In [171]:
import pandas as pd
import re
from sklearn.preprocessing import MinMaxScaler
import numpy as np
from queue import PriorityQueue
import math

In [12]:
data = pd.read_csv('dogs.csv', sep = ',')

In [13]:
data.shape

(11, 3)

In [24]:
height = np.array(data['height (inches)'])

In [27]:
height.reshape([-1,1])

array([[20],
       [16],
       [18],
       [27],
       [ 8],
       [25],
       [23],
       [32],
       [21],
       [19],
       [ 6]], dtype=int64)

In [29]:
normalizer = MinMaxScaler()
norm_height = normalizer.fit_transform(height.reshape([-1,1]))

In [33]:
data['height (inches)'] = norm_height[:,0]

In [36]:
weight= data['weight (pounds)']
weight= np.array(weight)
weight = weight.reshape([-1,1])
weight = normalizer.fit_transform(weight)
data['weight (pounds)'] = weight[:,0]

In [49]:
data.head()

              breed    height    weight
0     Border Collie  0.538462  0.248366
1    Boston Terrier  0.384615  0.084967
2  Brittany Spaniel  0.461538  0.183007
3       Bullmastiff  0.807692  0.738562
4         Chihuahua  0.076923  0.006536

In [48]:
data = data.rename(columns={'breed':'breed', 'height (inches)':'height','weight (pounds)':'weight'})

In [92]:
def init(data):
    distances = {}
    counter = 0
    dogs_que = PriorityQueue()
    for i in range(data.shape[0]):
        min_d = [None , None]
        for j in range(data.shape[0]):
            if i!=j:
                d = np.sqrt((data.loc[i].height - data.loc[j].height)**2 + (data.loc[i].weight - data.loc[j].weight)**2)
                distances[counter] = ((i,j),d)
                if min_d[0]==None:
                    min_d[0] = d
                    min_d[1] = (i,j)
                elif min_d[0]>d:
                    min_d[0] = d
                    min_d[1] = (i,j)
                counter +=1
        dogs_que.put((min_d[0], min_d[1]))
    return dogs_que

In [93]:
q = init(data)

In [117]:
q.qsize()

10

In [98]:
b = a.get()

In [107]:
b

(0.05047034033286324, (0, 8))

In [ ]:
((1,2),(3,4),(5,6))
((7,8))

In [91]:
def cluster(data, que):
    while(que.qsize()==1):
        a = q.get()
        b = q.get()
        #mix a,b, use single linkage
        min_d = 0
        for i in range(len(a)):
            for j in range(len(b)):
                d = np.sqrt((data.loc[a[i]].height - data.loc[b[j]].height)**2 + (data.loc[a[i]].weight - data.loc[b[j]].weight)**2)

(0.12461479677668082, (1, 2))

In [154]:
class hCluster:

    def __init__(self, data):
        self.data = data
        self.dogs = np.arange(data.shape[0])
        self.que = self.init_distance()
    def update_que(self): 
        distances = PriorityQueue()
        while self.que.qsize() == 1:
            c1 = self.que.get()
            for i in range(self.que.qsize()):
                d = self.distance(c1, i)
    def distance(clstr, obj): #write recursively # single linkage
        min_d= 0
        
    def init_distances():
        distances = {}
        counter = 0
        dogs_que = PriorityQueue()
        min_d = [None , None]
        for i in range(self.data.shape[0]):
            for j in range(self.data.shape[0]):
                if i!=j:
                    d = np.sqrt((self.data.loc[i].height - self.data.loc[j].height)**2 + 
                                (self.data.loc[i].weight - self.data.loc[j].weight)**2)
                    distances[counter] = ((i,j),d)
                    if min_d[0]==None:
                        min_d[0] = d
                        min_d[1] = (i,j)
                    elif min_d[0]>d:
                        min_d[0] = d
                        min_d[1] = (i,j)
                    counter +=1
        dogs_que.put((min_d[0], min_d[1]))
        dogs = list(range(data.shape[0]))
        del dogs[mid_d[1][0]]
        del dogs[mid_d[1][1]]
        for d in dogs:
            dogs_que.put((1000, d))
        return dogs_que

In [140]:
a = np.arange(data.shape[0] - [7,9])
a

TypeError: unsupported operand type(s) for -: 'int' and 'list'

In [147]:
b  =[4,8,3,1,7,4]

In [145]:
del b[2]

In [151]:
b.remove(4,8)

TypeError: remove() takes exactly one argument (2 given)

In [149]:
b

[4, 8, 3, 7, 4]

In [84]:
distances

{0: ((0, 1), 0.22442765396764436),
 1: ((0, 2), 0.10094068066572678),
 2: ((0, 3), 0.5592650555953662),
 3: ((0, 4), 0.5210561697082753),
 4: ((0, 5), 0.2889685407317352),
 5: ((0, 6), 0.20003185316249483),
 6: ((0, 7), 0.8820268713507133),
 7: ((0, 8), 0.05047034033286324),
 8: ((0, 9), 0.13625980676859487),
 9: ((0, 10), 0.5929810324551671),
 10: ((1, 0), 0.22442765396764436),
 11: ((1, 2), 0.12461479677668082),
 12: ((1, 3), 0.7785757560025208),
 13: ((1, 4), 0.3175311581765495),
 14: ((1, 5), 0.5133496836030039),
 15: ((1, 6), 0.42341674311398797),
 16: ((1, 7), 1.1027162054860737),
 17: ((1, 8), 0.27464340474555266),
 18: ((1, 9), 0.31594113340759267),
 19: ((1, 10), 0.39388886706182746),
 20: ((2, 0), 0.10094068066572678),
 21: ((2, 1), 0.12461479677668082),
 22: ((2, 3), 0.6545719674075132),
 23: ((2, 4), 0.42316765305839593),
 24: ((2, 5), 0.3891939383033919),
 25: ((2, 6), 0.29885205174560203),
 26: ((2, 7), 0.9784779755858195),
 27: ((2, 8), 0.15141102099859002),
 28: ((2, 9), 0.19981501742949104),
 29: ((2, 10), 0.4964968717714859),
 30: ((3, 0), 0.5592650555953662),
 31: ((3, 1), 0.7785757560025208),
 32: ((3, 2), 0.6545719674075132),
 33: ((3, 4), 1.0343529106800808),
 34: ((3, 5), 0.28508383365664863),
 35: ((3, 6), 0.3611996266635937),
 36: ((3, 7), 0.3245489616681213),
 37: ((3, 8), 0.5124213492012272),
 38: ((3, 9), 0.47317899258515533),
 39: ((3, 10), 1.0944591481234038),
 40: ((4, 0), 0.5210561697082753),
 41: ((4, 1), 0.3175311581765495),
 42: ((4, 2), 0.42316765305839593),
 43: ((4, 3), 1.0343529106800808),
 44: ((4, 5), 0.7980200462061037),
 45: ((4, 6), 0.7050181438334322),
 46: ((4, 7), 1.356112764155261),
 47: ((4, 8), 0.5703995375603472),
 48: ((4, 9), 0.5637258685309747),
 49: ((4, 10), 0.07720024854761205),
 50: ((5, 0), 0.2889685407317352),
 51: ((5, 1), 0.5133496836030039),
 52: ((5, 2), 0.3891939383033919),
 53: ((5, 3), 0.28508383365664863),
 54: ((5, 4), 0.7980200462061037),
 55: ((5, 6), 0.0930115635997988),
 56: ((5, 7), 0.5997709208914694),
 57: ((5, 8), 0.23908164139648158),
 58: ((5, 9), 0.24591438221916234),
 59: ((5, 10), 0.865660553709629),
 60: ((6, 0), 0.20003185316249483),
 61: ((6, 1), 0.42341674311398797),
 62: ((6, 2), 0.29885205174560203),
 63: ((6, 3), 0.3611996266635937),
 64: ((6, 4), 0.7050181438334322),
 65: ((6, 5), 0.0930115635997988),
 66: ((6, 7), 0.6825271030902548),
 67: ((6, 8), 0.1516726895756123),
 68: ((6, 9), 0.15727874734286618),
 69: ((6, 10), 0.7726997902871393),
 70: ((7, 0), 0.8820268713507133),
 71: ((7, 1), 1.1027162054860737),
 72: ((7, 2), 0.9784779755858195),
 73: ((7, 3), 0.3245489616681213),
 74: ((7, 4), 1.356112764155261),
 75: ((7, 5), 0.5997709208914694),
 76: ((7, 6), 0.6825271030902548),
 77: ((7, 8), 0.8341997926658671),
 78: ((7, 9), 0.7972047903817945),
 79: ((7, 10), 1.4142135623730951),
 80: ((8, 0), 0.05047034033286324),
 81: ((8, 1), 0.27464340474555266),
 82: ((8, 2), 0.15141102099859002),
 83: ((8, 3), 0.5124213492012272),
 84: ((8, 4), 0.5703995375603472),
 85: ((8, 5), 0.23908164139648158),
 86: ((8, 6), 0.1516726895756123),
 87: ((8, 7), 0.8341997926658671),
 88: ((8, 9), 0.12461479677668079),
 89: ((8, 10), 0.6417374472460705),
 90: ((9, 0), 0.13625980676859487),
 91: ((9, 1), 0.31594113340759267),
 92: ((9, 2), 0.19981501742949104),
 93: ((9, 3), 0.47317899258515533),
 94: ((9, 4), 0.5637258685309747),
 95: ((9, 5), 0.24591438221916234),
 96: ((9, 6), 0.15727874734286618),
 97: ((9, 7), 0.7972047903817945),
 98: ((9, 8), 0.12461479677668079),
 99: ((9, 10), 0.627459490683027),
 100: ((10, 0), 0.5929810324551671),
 101: ((10, 1), 0.39388886706182746),
 102: ((10, 2), 0.4964968717714859),
 103: ((10, 3), 1.0944591481234038),
 104: ((10, 4), 0.07720024854761205),
 105: ((10, 5), 0.865660553709629),
 106: ((10, 6), 0.7726997902871393),
 107: ((10, 7), 1.4142135623730951),
 108: ((10, 8), 0.6417374472460705),
 109: ((10, 9), 0.627459490683027)}

In [100]:
singers = PriorityQueue()

In [101]:
singers.put((1,'mahdi'))
singers.put((2,'amir'))
singers.put((4,'ghasem'))
singers.put((7,'vali'))

In [ ]:
singers

In [173]:
dt = {1:14,2:59,3:88,4:25}

In [174]:
dt[1]

14

In [230]:

a = [((1,2),1), (3,4)]
d = 0
def dis(dt,x,y):
    global d
    print('d is', d)
    print('ins', x,y)
    if type(x)== tuple:
        print('h1',d)
        for j in x:
            d += dis(dt,j,y)
            print(d)
        return d
    elif type(y) == tuple:
        print('h2',d)
        t = 0
        for i in y:
            h= dis(dt,x,i)
            print('h',h,d)
            t +=h
            print('d',t)
        return t
    else:
        print('h3' ,d)
        e = dt[x] - dt[y]
        return e

In [231]:
r= dis(dt, a[0], a[1])

d is 0
ins ((1, 2), 1) (3, 4)
h1 0
d is 0
ins (1, 2) (3, 4)
h1 0
d is 0
ins 1 (3, 4)
h2 0
d is 0
ins 1 3
h3 0
h -74 0
d -74
d is 0
ins 1 4
h3 0
h -11 0
d -85
-85
d is -85
ins 2 (3, 4)
h2 -85
d is -85
ins 2 3
h3 -85
h -29 -85
d -29
d is -85
ins 2 4
h3 -85
h 34 -85
d 5
-80
-80
d is -80
ins 1 (3, 4)
h2 -80
d is -80
ins 1 3
h3 -80
h -74 -80
d -74
d is -80
ins 1 4
h3 -80
h -11 -80
d -85
-165

In [229]:
r

-165

In [170]:
n = 5
type(a) == list

True

In [169]:
type(a)

list

In [172]:
math.sqrt(4)

2.0

In [233]:
dt = {1:14,2:59,3:88,4:25}

In [238]:
def dis2(dt, x, y):
    #base
    if type(x)== int and type(y)==int:
        return dt[x] - dt[y]
    
    #recursions
    elif type(x)==tuple:
        d = 0
        for i in x:
            d += dis2(dt, i, y)
        return d
    elif type(y)==tuple:
        d2 = 0
        for j in y:
            d2 += dis2(dt,x,j)
        return d2

In [243]:
dis2(dt,1,3)

-74

In [244]:
dis2(dt,1,4)

-11

In [245]:
dis2(dt,1,(3,4))

-85

In [246]:
dis2(dt,2,3)

-29

In [247]:
dis2(dt,2,4)

34

In [250]:
dis2(dt,2,(3,4))

5

In [253]:
dis2(dt,(1,2),(3,4))

-80

In [254]:
dis2(dt,((1,2),2),(3,4))

-75