In [1]:
import pandas as pd
import re
from sklearn.preprocessing import MinMaxScaler
import numpy as np
from queue import PriorityQueue
import math

In [7]:
data = pd.read_csv('dogs.csv', sep = ',')

In [8]:
data.shape

(11, 3)

In [9]:
height = np.array(data['height (inches)'])

In [10]:
height.reshape([-1,1])

array([[20],
       [16],
       [18],
       [27],
       [ 8],
       [25],
       [23],
       [32],
       [21],
       [19],
       [ 6]], dtype=int64)

In [11]:
normalizer = MinMaxScaler()
norm_height = normalizer.fit_transform(height.reshape([-1,1]))

In [12]:
data['height (inches)'] = norm_height[:,0]

In [13]:
weight= data['weight (pounds)']
weight= np.array(weight)
weight = weight.reshape([-1,1])
weight = normalizer.fit_transform(weight)
data['weight (pounds)'] = weight[:,0]

In [14]:
data.head()

              breed  height (inches)  weight (pounds)
0     Border Collie         0.538462         0.248366
1    Boston Terrier         0.384615         0.084967
2  Brittany Spaniel         0.461538         0.183007
3       Bullmastiff         0.807692         0.738562
4         Chihuahua         0.076923         0.006536

In [15]:
data = data.rename(columns={'breed':'breed', 'height (inches)':'height','weight (pounds)':'weight'})

In [92]:
def init(data):
    distances = {}
    counter = 0
    dogs_que = PriorityQueue()
    for i in range(data.shape[0]):
        min_d = [None , None]
        for j in range(data.shape[0]):
            if i!=j:
                d = np.sqrt((data.loc[i].height - data.loc[j].height)**2 + (data.loc[i].weight - data.loc[j].weight)**2)
                distances[counter] = ((i,j),d)
                if min_d[0]==None:
                    min_d[0] = d
                    min_d[1] = (i,j)
                elif min_d[0]>d:
                    min_d[0] = d
                    min_d[1] = (i,j)
                counter +=1
        dogs_que.put((min_d[0], min_d[1]))
    return dogs_que

In [93]:
q = init(data)

In [117]:
q.qsize()

10

In [98]:
b = a.get()

In [107]:
b

(0.05047034033286324, (0, 8))

In [ ]:
((1,2),(3,4),(5,6))
((7,8))

In [91]:
def cluster(data, que):
    while(que.qsize()==1):
        a = q.get()
        b = q.get()
        #mix a,b, use single linkage
        min_d = 0
        for i in range(len(a)):
            for j in range(len(b)):
                d = np.sqrt((data.loc[a[i]].height - data.loc[b[j]].height)**2 + (data.loc[a[i]].weight - data.loc[b[j]].weight)**2)

(0.12461479677668082, (1, 2))

In [22]:
class hCluster:

    def __init__(self, data):
        self.data = data
        self.dogs = np.arange(data.shape[0])
        self.que = self.init_distance()
    def update_que(self): 
        distances = PriorityQueue()
        while self.que.qsize() == 1:
            c1 = self.que.get()
            for i in range(self.que.qsize()):
                d = self.distance(c1, i)
    def distance(self,clstr, obj): #write recursively # single linkage
        min_d= 0
        
    def init_distances(self):
        distances = PriorityQueue()
        dogs = list(range(data.shape[0]))
        print(dogs)
        for doga in dogs:
            tempq = PriorityQueue()
            print("doga:", doga)
            for dogb in dogs:
                print("dogb:", dogb)
                if doga>dogb:
                    d = math.sqrt((self.data.loc[doga].weight -self.data.loc[dogb].weight )**2 + (self.data.loc[doga].height-self.data.loc[dogb].height)**2)
                    tempq.put((d, (doga,dogb)))
            #dogs.remove(doga)
            print(dogs)
            if tempq.qsize()>0:
                x = tempq.get()
                print(x)
                distances.put(x)
        return distances

In [71]:
def init_distances():
    distances = PriorityQueue()
    dogs = list(range(data.shape[0]))
    print(dogs)
    for doga in dogs:
        tempq = PriorityQueue()
        print("doga:", doga)
        for dogb in dogs:
            print("dogb:", dogb)
            if doga>dogb:
                d = math.sqrt((data.loc[doga].weight -data.loc[dogb].weight )**2 + (data.loc[doga].height-data.loc[dogb].height)**2)
                tempq.put((d, (doga,dogb)))
        #dogs.remove(doga)
        print(dogs)
        if tempq.qsize()>0:
            x = tempq.get()
            print(x)
            distances.put(x)
    first = distances.get()
    a = first[1][0]
    b = first[1][1]
    print('first', first)
    distances = PriorityQueue()
    distances.put(first[0], first[1])
    remain = list(range(data.shape[0]))
    remain.remove(a)
    remain.remove(b)
    for r in remain:
        distances.put(100,r)
    return distances

In [72]:
q = init_distances()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
doga: 0
dogb: 0
dogb: 1
dogb: 2
dogb: 3
dogb: 4
dogb: 5
dogb: 6
dogb: 7
dogb: 8
dogb: 9
dogb: 10
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
doga: 1
dogb: 0
dogb: 1
dogb: 2
dogb: 3
dogb: 4
dogb: 5
dogb: 6
dogb: 7
dogb: 8
dogb: 9
dogb: 10
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(0.22442765396764436, (1, 0))
doga: 2
dogb: 0
dogb: 1
dogb: 2
dogb: 3
dogb: 4
dogb: 5
dogb: 6
dogb: 7
dogb: 8
dogb: 9
dogb: 10
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(0.10094068066572678, (2, 0))
doga: 3
dogb: 0
dogb: 1
dogb: 2
dogb: 3
dogb: 4
dogb: 5
dogb: 6
dogb: 7
dogb: 8
dogb: 9
dogb: 10
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(0.5592650555953662, (3, 0))
doga: 4
dogb: 0
dogb: 1
dogb: 2
dogb: 3
dogb: 4
dogb: 5
dogb: 6
dogb: 7
dogb: 8
dogb: 9
dogb: 10
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(0.3175311581765495, (4, 1))
doga: 5
dogb: 0
dogb: 1
dogb: 2
dogb: 3
dogb: 4
dogb: 5
dogb: 6
dogb: 7
dogb: 8
dogb: 9
dogb: 10
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(0.28508383365664863, (5, 3))
doga: 6
dogb: 0
dogb: 1
dogb: 2
dogb: 3
dogb: 4
dogb: 5
dogb: 6
dogb: 7
dogb: 8
dogb: 9
dogb: 10
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(0.0930115635997988, (6, 5))
doga: 7
dogb: 0
dogb: 1
dogb: 2
dogb: 3
dogb: 4
dogb: 5
dogb: 6
dogb: 7
dogb: 8
dogb: 9
dogb: 10
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(0.3245489616681213, (7, 3))
doga: 8
dogb: 0
dogb: 1
dogb: 2
dogb: 3
dogb: 4
dogb: 5
dogb: 6
dogb: 7
dogb: 8
dogb: 9
dogb: 10
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(0.05047034033286324, (8, 0))
doga: 9
dogb: 0
dogb: 1
dogb: 2
dogb: 3
dogb: 4
dogb: 5
dogb: 6
dogb: 7
dogb: 8
dogb: 9
dogb: 10
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(0.12461479677668079, (9, 8))
doga: 10
dogb: 0
dogb: 1
dogb: 2
dogb: 3
dogb: 4
dogb: 5
dogb: 6
dogb: 7
dogb: 8
dogb: 9
dogb: 10
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(0.07720024854761205, (10, 4))
first (0.05047034033286324, (8, 0))

In [75]:
q.get()

100

In [67]:
b.put(4,2)

In [68]:
b.put(2, (4,3))

In [25]:
def updateq(que, dt):
    #base:
    if que.qsize() == 1:
        return que
    #recursion:
    else:

10

In [76]:
b = list(range(10))
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [77]:
y = PriorityQueue()
for bb in b:
    x = PriorityQueue()
    for cc in b:
        if bb < cc:
            print(bb, cc)
            x.put((bb,cc))
        #b.remove(bb)

0 1
0 2
0 3
0 4
0 5
0 6
0 7
0 8
0 9
1 2
1 3
1 4
1 5
1 6
1 7
1 8
1 9
2 3
2 4
2 5
2 6
2 7
2 8
2 9
3 4
3 5
3 6
3 7
3 8
3 9
4 5
4 6
4 7
4 8
4 9
5 6
5 7
5 8
5 9
6 7
6 8
6 9
7 8
7 9
8 9

In [ ]:
x.get()

In [27]:
a.qsize()

10

In [29]:
x = a.get()

In [31]:
len(x)

2

In [32]:
x

(0.05047034033286324, (8, 0))

In [35]:
x[1][0]

8

In [15]:
data

                   breed    height    weight
0          Border Collie  0.538462  0.248366
1         Boston Terrier  0.384615  0.084967
2       Brittany Spaniel  0.461538  0.183007
3            Bullmastiff  0.807692  0.738562
4              Chihuahua  0.076923  0.006536
5        German Shepherd  0.730769  0.464052
6       Golden Retriever  0.653846  0.411765
7             Great Dane  1.000000  1.000000
8   Portuguese Water Dog  0.576923  0.281046
9        Standard Poodle  0.500000  0.379085
10     Yorkshire Terrier  0.000000  0.000000

In [19]:
a.get()

(0.05047034033286324, (8, 0))

In [20]:
a.get()

(0.07720024854761205, (10, 4))

In [21]:
a.get()

(0.0930115635997988, (6, 5))

In [23]:
a.get()

(15.132745950421556, (2, 1))

In [24]:
a.get()

(15.132745950421556, (8, 9))

In [25]:
a.get()

(16.401219466856727, (10, 1))

In [ ]:
a.get()

In [100]:
singers = PriorityQueue()

In [101]:
singers.put((1,'mahdi'))
singers.put((2,'amir'))
singers.put((4,'ghasem'))
singers.put((7,'vali'))

In [ ]:
singers

In [173]:
dt = {1:14,2:59,3:88,4:25}

In [174]:
dt[1]

14

In [3]:
dt = {1:14,2:59,3:88,4:25}

In [4]:
def dis2(dt, x, y):
    #base
    if type(x)== int and type(y)==int:
        return dt[x] - dt[y]
    
    #recursions
    elif type(x)==tuple:
        d = 0
        for i in x:
            d += dis2(dt, i, y)
        return d
    elif type(y)==tuple:
        d2 = 0
        for j in y:
            d2 += dis2(dt,x,j)
        return d2

In [243]:
dis2(dt,1,3)

-74

In [244]:
dis2(dt,1,4)

-11

In [245]:
dis2(dt,1,(3,4))

-85

In [246]:
dis2(dt,2,3)

-29

In [247]:
dis2(dt,2,4)

34

In [250]:
dis2(dt,2,(3,4))

5

In [253]:
dis2(dt,(1,2),(3,4))

-80

In [254]:
dis2(dt,((1,2),2),(3,4))

-75